<!DOCTYPE html>
<html>
    <html lang="pt-br">
    <head>
        <!-- META e VIEWPORT -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- CSS -->
<!--        <link rel="stylesheet" href="../static/css/home.css">-->
<!--        <link rel="stylesheet" href="../static/css/global.css">-->
<!--        <link rel="stylesheet" href="../static/css/CSSReset_total.css">-->

        <!-- CSS DJANGO -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/global.css' %}">
        <link rel="stylesheet" href="{% static 'css/CSSReset_total.css' %}">

        <!-- FONTES -->
        <link rel="preconnect" href="https://fonts.googleapis.com"> <!-- Verificar as fontes -->
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400,700;1,800&family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
        <title>ADC | Home</title>
    </head>

    <!-- CABEÇALHO -->
    <body>
        <div id="home" class="content">
            <header class="cabecalho">
                <div>
                    <a href="{% url 'home' %}">
                        <img src="{% static 'imagens/logo-compacto.svg' %}" alt="ADC">
                    </a>
                </div>

                <div class="menu_superior">
                    <a href="{% url 'home' %}">Início</a>
                    <a href="{% url 'perfil' %}">Perfil</a>
                    <a href="{% url 'repositorio' %}">Repositório</a>
                    <a href="{% url 'sala' %}">Sala</a>
                </div>

                <div class="foto_cabecalho">
                    <a href="{% url 'perfil' %}">
                        <img src="{% static 'imagens/foto_perfil.png' %}" alt="Imagem Usuário">
                    </a>
                </div>
            </header>

            <!-- CONTEÚDO -->

            {% block conteudo %}{% endblock %}

            <!-- RODAPÉ -->

            <footer class="rodape">
                <div class="menu_rodape">
                    <a href="">Termos de Uso</a>
                    <a href="">Política de Privacidade</a>
                    <a href="">Cookies</a>
                    <a href="">contato@adc.com.br</a>
                </div>
                <div class="copyright">
                    © 2021 Aprenda Direito Completo
                </div>
            </footer>
        </div>
    </body>
</html>