
{% extends "base_adc.html" %}

{% block conteudo %}
{% load static %}
<!-- CSS -->

        <link rel="stylesheet" href="{% static 'css/home.css' %}">

<!--CONTEUDO-->

<main>
    <div class="conteudo">
        <a href="">
            <div class="box_continue_assistindo">
                <div class="continue_assistindo">
                    <p>Continue Assistindo</p>
                    <p>Direito Penal - Princípio da Intervenção Mínima</p>
                </div>
                <img src="{% static 'imagens/seta_cinza.svg' %}" alt="Seta" class="seta_assistindo">
            </div>
        </a>

        <div class="box_conteudo">
            <p>Aulas alteradas recentemente</p>
            <div class="conteudo_info">
                <p>
                    Texto podendo conter vários elementos de atualização
                    <ul>
                        <li>Aula 17 - Direito Civil</li>
                        <li>Aula 25 - Direito Tribuário</li>
                        <li>Aula 73 - Direito Penal</li>
                    </ul>
                    Aulas a serem integradas nas próximas semanas
                    <ul>
                        <li>Aula 125 - Direito Notarial</li>
                        <li>Aula 126 - Direito Notarial</li>
                        <li>Aula 45 - Direito Civil</li>
                    </ul>
                </p>
            </div>
        </div>

        <div class="box_conteudo">
            <p>Aulas alteradas recentemente II</p>
            <div class="conteudo_info">
                <p>
                    Texto podendo conter vários elementos de atualização
                    <ul>
                        <li>Aula 17 - Direito Civil</li>
                        <li>Aula 25 - Direito Tribuário</li>
                        <li>Aula 73 - Direito Penal</li>
                    </ul>
                    Aulas a serem integradas nas próximas semanas
                    <ul>
                        <li>Aula 125 - Direito Notarial</li>
                        <li>Aula 126 - Direito Notarial</li>
                        <li>Aula 45 - Direito Civil</li>
                    </ul>
                </p>
            </div>
        </div>

    </div>
</main>

<!-- PERFIL -->
<div class="perfil">
    <div class="alinhamento">
        <img src="{% static 'imagens/foto_perfil.png' %}" alt="Foto Perfil" class="foto_perfil">
        <div class="perfil_info">
            <p>Davi Augusto Guedes Massarelli</p>
            <p>Santos, São Paulo</p>
            <p>Unisantos / Cartório</p>
            <p>Buscando realocação profissional por meio do estudo dos institutos relacionados ao Direito</p>
            <a href="" class="outlined">Editar Perfil</a>
        </div>
    </div>
</div>

{% endblock %}